<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.game.mapper.MyRankingMapper">
    <resultMap id="memberMap" type="org.choongang.game.entities.MyRank">
    <result column="USER_ID" property="userId"/>
    <result column="GAMECOUNT" property="gamecount"/>
    <result column="USERSCORE" property="userscore"/>
    </resultMap>

    <insert id ="insertResult">
            INSERT INTO RESULTTABLE (USER_ID, GAMECOUNT, USERSCORE)
        VALUES (#{userId}, #{gamecount}, #{userscore})
    </insert>
</mapper>