<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.game.mapper.PointLogMapper">
   <insert id="register">
       INSERT INTO POINT_LOG
        VALUES (SEQ_POINT_LOG.NEXTVAL, #{userNo}, #{point}, #{message}
   </insert>
    <select id = "getRank">
        <![CDATA[
        SELECT ROWNUM RANK, d. * FROM (
        SELECT
            SUM(a.POINT) TOTAL, b.USER_ID userId, b.USER_NM userNm
        FROM POINT_LOG a JOIN MEMBER b ON a.USER_NO = b.USER_NO
        GROUP BY b.USER_ID, b.USER_NM
        ORDER BY SUM(a.POINT) DESC
        ) d WHERE ROWNUM <= 10
        ]]>
    </select>
</mapper>