<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.ranking.mapper.PointLogMapper">

    <insert id="register">
        INSERT INTO POINT_LOG
            VALUES(SEQ_POINT_LOG.NEXTVAL, #{userId}, #{point}, #{message})
    </insert>

    <!--랭킹 가져오는 쿼리 - 포인트 많은 순으로 정렬/인라인 뷰 형태로-->
    <select id="getRank">
        <![CDATA[
        SELECT ROWNUM RANK, d.* FROM (
            SELECT
                SUM(a.POINT) + NVL(b.POINT, 0) TOTAL, b.USER_ID userId
            FROM POINT_LOG a JOIN MEMBER b ON a.USER_ID = b.USER_ID
            GROUP BY b.USER_ID, b.POINT
            ORDER BY SUM(a.POINT) DESC
        ) d WHERE ROWNUM <= 3
        ]]>
    </select>
</mapper>